# Daily Task1. Variables & Operators

## 1. Assign and Print a Variable
### Create a variable x with the value 10 and print it.

In [4]:
x = 10 # creating a variable x and assigning value 10 to it using ths assignment operator.
print(x) # Printing the value of x by using the print function.

10

## 2. Valid Variable Names
### Which of the following are valid variable names?
### _var, 1stValue, my-variable, my_variable, name123, sum
### Hint: Variables cannot start with a number and should follow Python naming rules.

In [30]:
_var = 10  # This line of code works well even though the variable name starts with '_' it is a valid name because it is according to python's naming convention.
1stValue = 43 # This variable declaration in wrong because python doesn't support variable starting with numbers.
my-variable = 12 # This variable declaration also throws an error as it has '-' a special character in it.
my_variable = 94 # This supports all the naming convention rules of python.
name123 = 54 # This is also a valid variable name because this too follows all the standard python naming convention rules.
sum = 432 # This throws an error because the variable name we used  'sum'  is a keyword in python and we cannot use keywords as variable names in Python.

print(_var)
print(1stValue) 
print(my-variable)  
print(my_variable)
print(sum)

10
94
432

## 3: Identify Data Type
### Find the data type of x = 5.5 using a built-in function.

In [35]:
x = 5.5
print(type(x)) # Using the built in function 'type()' to check the type of the variable 'x' we declared with float value 5.5

## 4. Basic Arithmetic Operations
### Description: Given a = 10 and b = 3, perform:
### Addition
### Subtraction
### Multiplication
### Division
### Example Output:
### 10 + 3 = 13
### 10 - 3 = 7
### 10 * 3 = 30
### 10 / 3 = 3.33

In [45]:
a = 10
b = 3

# Performing arithematic operations on the variables a and b.

Addition = (a + b) # Created a variable Addition and performing '+' on a and b
Subtraction = (a - b) # Created a variable Subtraction and performing '-' on a and b
Multiplication = (a * b) # Created a variable Multiplication and performing '*' on a and b
Division = (a / b) # Created a variable Division and performing '/' on a and b
print(Addition)
print(Subtraction)
print(Multiplication)
print(Division)

## 5. Difference Between = and ==
### Description: What will be the output of:
### x = 5
### y = 5
### print(x == y)
### Hint: = is for assignment, == is for comparison.

In [47]:
x = 5
y = 5
print(x == y) 
# we are checking whether the value in x and the value in y are both same are equal or not by using a '==' comparision/relational operator which in
# return gives us 'True' if equal and 'False' if not equal as Output.

True

## 6. Floor Division (//)
### Description: Find the quotient when 17 is divided by 4 using floor division.
### Example:
### print(17 // 4)
### Output:
### 4

In [ ]:
first_number  = 67
second_number = 13
remainder = (first_number // second_number) # We are using '//' arithematic operator through which we can find quotient upon dividing two numbers.

## 7. Logical Operator - AND
### Description: Predict the output of:
### print(5 > 3 and 8 < 6)
### Hint: and returns True only if both conditions are true.

In [55]:
 print( 5 > 3 and 8 < 6 )
'''
We will dry run the code first, here we are basically using an logical and operator between two comparision operated results. Let's break it down into
3 steps
i) 5 > 3
However 5 is greater 3 so it gives result as True

ii) 8 < 6
This gives result as False because 8 is greater than 6 not lesser than.

iii)True and False 
This operation gives result as 'False' because in and truth table the O/P would be true only if both the inputs are True else the O/P is always False.
'''

False

"\nWe will dry run the code first, here we are basically using an logical and operator between two comparision operated results. Let's break it down into\n3 steps\ni) 5 > 3\nHowever 5 is greater 3 so it gives result as True\n\nii) 8 < 6\nThis gives result as False because 8 is greater than 6 not lesser than.\n\niii)True and False \nThis operation gives result as \n"