# Task 4 - Lists

### 1. Understanding Lists
- Define lists, their properties, and explain how they differ from other data types.
- List the common list methods and provide an example for each.

-- Lists is type of data type in python where this falls in advanced category in python data types.

-- Lists are Immutable in nature, means we can access elements in a list using indexing and change the data in a list using the list slicing.
-- Lists accepts multiple values of different datatypes like integers, dictionaries, float, string, complex etc.. all at once.
-- Lists are by default ordered and can't be changed in order explicitly, When we say that lists are ordered, it means that the items have a defined order, and that order will not change.
-- Lists are enabled with nesting nature means a single list can hold multiple lists in it and all properties of standard lists are followed by nested lists too.
-- Lists allows duplicates and as lists are indexed so it can have elements with same values.

-- Lists are different from strings as it can have strings, individual characters and are immutable despite strings.


-- List Methods

example_list = [18,17,48,43,333,37,29]

1) append()

In [5]:
example_list = [18,17,48,43,333,37,29]
example_list.append(12) ## appends the element at the end of the list.
example_list

[18, 17, 48, 43, 333, 37, 29, 12]

In [7]:
# 2) extend() 

example_list.extend([2,31,3,4,2,24,3134,231]) ## takes a list as an argument and adds them as elements not as a single list despite append().
example_list

[18, 17, 48, 43, 333, 37, 29, 12, 2, 31, 3, 4, 2, 24, 3134, 231]

In [41]:
## 3) pop()

example_list.pop(5) ## removes the element present at index 5
example_list

[18, 17, 48, 43, 333, 29, 12, 2, 31, 3, 4, 2, 24, 3134, 231]

In [9]:
# 4) insert()

example_list.insert(3,'Abhiram') ## inserts a new element at the index '3' as defined
example_list

[18, 17, 48, 'Abhiram', 43, 333, 37, 29, 12, 2, 31, 3, 4, 2, 24, 3134, 231]

In [11]:
# 5) remove()

example_list.remove('Abhiram') ## Removes the element 'Abhiram' from the list
example_list.remove(231) ## Removes the element 231 and this not the index in the list
example_list

[18, 17, 48, 43, 333, 37, 29, 12, 2, 31, 3, 4, 2, 24, 3134]

In [13]:
# 6) copy()

new_list = example_list.copy()
new_list

[18, 17, 48, 43, 333, 37, 29, 12, 2, 31, 3, 4, 2, 24, 3134]

In [15]:
# 7) clear()

new_list.clear() ## This list clears all the elements that are present in the list and returns the empty list
new_list

[]

### 2. Creating and Modifying Lists
- Create an empty list called numbers and perform the following operations:
- Append the numbers 1, 2, and 3 to the list.
- Modify the element at index 1 to be 4.
- Print the updated list.

In [19]:
empty_list = []
empty_list.append(1) # appends 1 to empty list
empty_list.append(2) # appends 2 at end of the list
empty_list.append(3) # appends 3 at end of the list
print(empty_list) 
empty_list.insert(1,4) # Inserts the element 4 at index 1
empty_list

[1, 2, 3]

[1, 4, 2, 3]

### 3. Slicing Lists
- Create a list called fruits with elements: 'apple', 'banana', 'orange', 'mango', 'kiwi'.
- Use slicing to create new lists:
- Citrus fruits: Extract 'orange' and 'mango'.
- Tropical fruits: Extract 'banana' and 'kiwi'.
- Concatenate citrus and tropical lists to form a new list called combined.
- Print the combined list.

In [31]:
fruits = ['apple', 'banana', 'orange', 'mango', 'kiwi']
citrus_fruits = fruits[2:4]
tropical_fruits = fruits[1::3]
combined_list = citrus_fruits + tropical_fruits
combined_list

['banana', 'kiwi']

['orange', 'mango', 'banana', 'kiwi']

### 4. Counting and Removing Elements
- Create a list called colors with repeated elements: 'red', 'blue', 'red', 'green', 'red'.
- Count and print the number of times 'red' appears in the list.
- Remove all occurrences of 'red' from the list.
- Print the updated list.

In [40]:
colours = [ 'red', 'blue', 'red', 'green', 'red']
print(colours.count('red'))
colours.remove('red') 
colours.remove('red')
colours.remove('red')
colours

3

['blue', 'green']

### 5. Updating and Managing a Grocery List
- Create a list called groceries with the initial items: 'bread', 'milk', 'eggs', 'butter'.
- Perform the following operations:
- Add 'cheese' to the end of the list.
- Remove 'milk' from the list.
- Insert 'yogurt' at index 1.
- Print the final updated grocery list.

In [50]:
groceries = ['bread', 'milk', 'eggs', 'butter']

append_cheese = groceries.append('cheese')
print(groceries)

remove_milk = groceries.remove('milk')
print(groceries)

insert_yogurt = groceries.insert(1,'yogurt')

final_updated_grocery_list = groceries
print(final_updated_grocery_list)

['bread', 'milk', 'eggs', 'butter', 'cheese']
['bread', 'eggs', 'butter', 'cheese']
['bread', 'yogurt', 'eggs', 'butter', 'cheese']