# Task  - Tuple 1:

### Tuple Immutability : Explain the concept of immutability in Python tuples with examples. Discuss why tuples are considered immutable data structures.

In [15]:
## In Python Tuples are Immutable in nature and the below demonstration proves that the concept of immutability of tuples in Python.

tuple_example = ('Innomatics', 7670964969, 'research', 'labs')

tuple_example[1] = 18

## I have created a tuple with 4 elements and now trying to insert a element at index 1 by [] as there are no methods like append or insert in tuples and
## it throws an error as ''tuple' object does not support item assignment'.

### Tuple Basics : Create a Python tuple containing the names of your favorite fruits. Write a Python program to print each fruit name from the tuple.

In [20]:
fruits_tuple = ( 'melon', 'apple', 'banana', 'mango', 'gauva')

print(fruits_tuple[0])
print(fruits_tuple[1])
print(fruits_tuple[2])
print(fruits_tuple[3])
print(fruits_tuple[4])

melon
apple
banana
mango
gauva

# Task  - Tuple_2:

### Given two tuples, write a Python program to concatenate them into a single tuple and then find the length of the resulting tuple.

In [27]:
tuple_1 = (42, 3.14, "Hello", True, [1, 2, 3],)
tuple_2 = (1, 2, 2, 3, 2, 4)

concatenated_tuple = tuple_1 + tuple_2

print(concatenated_tuple)
print(len(concatenated_tuple)) ## returns the length of the new tuple.

(42, 3.14, 'Hello', True, [1, 2, 3], 1, 2, 2, 3, 2, 4)
11

### Write a Python program that takes a tuple of integers and converts it into a set. Then, find and print the maximum and minimum value from the set.

In [35]:
tuple_integers = (1, 2, 2, 3, 2, 4)
tuple_to_set = set(tuple_integers)

print(type(tuple_to_set)) ## Checking whether the type is <set> or not
print(max(tuple_to_set)) ## Returns maximum value of the tuple
print(min(tuple_to_set)) ## Returns mininum value of the tuple

<class 'set'>
4
1

### Tuple Slicing : Given a tuple of 10 elements, write a Python program to print the elements from the 3rd to the 7th position using slicing.

In [41]:
tuple_10_elements = (42, 3.14, "Hello", True, [1, 2, 3], 'innomatics', 'research', 'labs', 'scan', 69)

print(tuple_10_elements[2:7])

('Hello', True, [1, 2, 3], 'innomatics', 'research')

### Access value '20' from the tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

In [48]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print(tuple1[1][1])

20

### tup=(1,2,3,2,4,5,3,4,2). Count the occurrences of element ‘2’ in the given tuple.

In [51]:
tup=(1,2,3,2,4,5,3,4,2)

tup.count(2)

3

### Create a tuple of numbers. Use slicing to create a new tuple containing only the even-indexed elements of the original tuple.

In [64]:
tuple_numbers = (1, 2, 2, 3, 2, 4,5,6,7,87,8,9,0,23,7,6,6,76,7,5,43,3,345,56)

even_indexed_tuple = tuple_numbers[::2]

print(even_indexed_tuple) ### returns only the even-indexed elements of the original tuple.

(1, 2, 2, 5, 7, 8, 0, 7, 6, 7, 43, 345)