                                                            Daily Task Questions

## Task 1 - Dictionaries:

#### Q1. Define Dictionary and its properties.

- Dictionary is an advanced data type in python, accepts various data types to store in it.
- Dictionaries stored data as a pair of key followed by a value and separated by ':' in between them and each key value pair is separated by ',' between them.
- Dictionary are semi unique in nature means they cannot have duplicate keys stored in them but they can have duplicate values for multiple keys.
- Dictionaries comes under mapping type of data type.
- Dictionaries are mutable means we can remove/add an element using the 'key'.

#### Q2.  Create a Python program that defines a dictionary to store information about your favorite book. 
#### Include the title, author, publication year, and genre as key-value pairs. Print out the dictionary.and do at least 5 dictionary methods on it.

In [13]:
my_fav_book_info = { 'title' : 'Journey of Souls', 'author' : ' Micheal Newton', 'publication year' : 1994}
print(my_fav_book_info)

## method implementation on the above dictionary

new_dict = my_fav_book_info.copy()
print(new_dict)
print(my_fav_book_info.get('author'))	
x = my_fav_book_info.items()
print(x)
y = my_fav_book_info.keys()
print(y)
print(my_fav_book_info.pop('publication year'))
print(my_fav_book_info.popitem())
my_fav_book_info.clear()
print(my_fav_book_info)

{'title': 'Journey of Souls', 'author': ' Micheal Newton', 'publication year': 1994}
{'title': 'Journey of Souls', 'author': ' Micheal Newton', 'publication year': 1994}
 Micheal Newton
dict_items([('title', 'Journey of Souls'), ('author', ' Micheal Newton'), ('publication year', 1994)])
dict_keys(['title', 'author', 'publication year'])
1994
('author', ' Micheal Newton')
{}

Q3. Write a Python program that simulates a simple dictionary for translating English words to Spanish. Define a dictionary containing a few English
words as keys and their corresponding Spanish translations as values. Allow users to enter an English word, and then display its Spanish translation if it exists in the dictionary.(use google for English to Spanish translator)

In [22]:
english_spanish = {'hey' : '¡Eh!', 'everyone' : 'todos', 'how' : 'cómo', 'are' : 'están', 'you' : 'ustedes ', 'all' : 'todos'}

print(english_spanish['hey'])
print(english_spanish['everyone'])
print(english_spanish['how'])
print(english_spanish['are'])
print(english_spanish['you'])
print(english_spanish['all'])

¡Eh!
todos
cómo
están
ustedes
todos

#### Create a Python program that stores the grades of five students in a dictionary. Allow users to input the names of the students and their
#### respective grades. Calculate and display the average grade of the students.

In [13]:
dictionary = dict()
average = ((grade_1) + (grade_2) + (grade_3) + (grade_4) + (grade_5)) / 5

name_1 = input('Enter your name:')
grade_1 = float(input('Enter your grades:'))

name_2 = input('Enter your name:')
grade_2 = float(input('Enter your grades:'))

name_3 = input('Enter your name:')
grade_3 = float(input('Enter your grades:'))

name_4 = input('Enter your name:')
grade_4 = float(input('Enter your grades:'))

name_5 = input('Enter your name:')
grade_5 = float(input('Enter your grades:'))

names_grades = {name_1 : grade_1, name_2 : grade_2, name_3 : grade_3, name_4 : grade_4, name_5 : grade_5}

print(names_grades)
print(average)

Enter your name: a90
Enter your grades: 90
Enter your name: b
Enter your grades: 91
Enter your name: c
Enter your grades: 92
Enter your name: d
Enter your grades: 93
Enter your name: e
Enter your grades: 94

{'a90': 90.0, 'b': 91.0, 'c': 92.0, 'd': 93.0, 'e': 94.0}
93.0

#### Build a basic contact list using a dictionary. Initially, the dictionary can be empty. Allow users to add new contacts with names and phone numbers.Users should also be able to search for contacts by name and display their phone numbers(use in operator).

In [30]:
contact_list = {}

contact_list['person1'] = 9000000000
contact_list['person2'] = 8000000000
contact_list['person3'] = 7000000000
contact_list['person4'] = 6000000000
contact_list['person5'] = 5000000000
contact_list['person6'] = 4000000000
contact_list['person7'] = 3000000000
contact_list['person8'] = 3000000000
contact_list['person9'] = 2000000000
contact_list['person10'] = 1000000000

print(contact_list)
print(9000000000 in contact_list)

{'person1': 9000000000, 'person2': 8000000000, 'person3': 7000000000, 'person4': 6000000000, 'person5': 5000000000, 'person6': 4000000000, 'person7': 3000000000, 'person8': 3000000000, 'person9': 2000000000, 'person10': 1000000000}
False

In [50]:
### Q1. Access specific values from the dictionary.
### Input:

student = {"name": "Alice", "age": 20, "grade": "A"}

print(student['name'])
print(student['grade'])
print(student['age'])

Alice
A
20

In [54]:
#### Q2. Add a new key "course": "Math" and change the "age" to 21.
#### Input:

student = {"name": "Alice", "age": 20}

student['course'] = 'Math'
student.update({'age' : 21})
print(student)

{'name': 'Alice', 'age': 21, 'course': 'Math'}

In [62]:
#### Q3. Print all keys, values, and key-value pairs.
#### Input:

marks = {"Math": 85, "Science": 90, "English": 78}

print(marks.keys())
print(marks.values())
print(marks.items())

dict_keys(['Math', 'Science', 'English'])
dict_values([85, 90, 78])
dict_items([('Math', 85), ('Science', 90), ('English', 78)])

In [72]:
#### Q4 Merge both dictionaries using update().
#### Input:

dict1 = {"x": 1, "y": 2}  
dict2 = {"y": 3, "z": 4}

dict1.update({"y": 3, "z": 4})
dict1

{'x': 1, 'y': 3, 'z': 4}

In [74]:
#### Q6. Check if "Math" exists in the dictionary.
#### Input:

subjects = {"Math": 90, "Science": 85}

print('Math' in subjects)

True

In [78]:
#### Q7. Remove the key "age" from the dictionary.
#### Input:

person = {"name": "John", "age": 25, "city": "Mumbai"}

person.pop('age')
person

{'name': 'John', 'city': 'Mumbai'}